In [1]:
print("Hello GitHub! This is my first commit.")
#git add .
#git commit -m "Commit Title"
#git push origin main

Hello GitHub! This is my first commit.

# Core Python & GitHub Practice

## Week 1: Python Refresher

### Variables and Printing

In [5]:
#Creating a string

String = "Creating a string."
print(String)

Creating a string.

In [6]:
#Creating an integer

Integer = 10
print(Integer)

10

In [7]:
#Creating a float

Float = 3.14
print(Float)

3.14

In [8]:
#Converting float to integer
Convert_Float = int(10/3)
print(Convert_Float)

3

In [9]:
#Converting integer to float
Convert_Integer = float(10/2)
print(Convert_Integer)

5.0

In [10]:
#Round floats

Round = round(3.3333333333333)
print(Round)

3

In [11]:
#Explaing with f-string
print(f'I was able to convert to an float: {Convert_Integer}, and convert to a integer: {Convert_Float}.')

I was able to convert to an float: 5.0, and convert to a integer: 3.

In [12]:
#Displaying string as all caps and lowercase

name = "Briana Johnson"
capitalized_name = name.upper()
lowercased_name = name.lower()
print(capitalized_name)
print(lowercased_name)

BRIANA JOHNSON
briana johnson

GitHub Commit

### List & Loops

In [15]:
#Creating a List, determining length
plants = ['pothos', 'pony tail palm', 'peace lily', 'fiddle leaf fig', 'eastern red bud', 'vincas', 'jade plant', 'barrel cactus', 'zee zee', 'rose']
print(plants[:3])
len(plants)

['pothos', 'pony tail palm', 'peace lily']

10

In [16]:
#If/Else

if len(plants) > 11:
    print('true')
else:
    print('false')
if len(plants) < 11:
    print('true')
else:
    print('false')

false
true

In [17]:
#Loop: prints each item on a new line
for plant in plants:
    print(plant)

pothos
pony tail palm
peace lily
fiddle leaf fig
eastern red bud
vincas
jade plant
barrel cactus
zee zee
rose

In [18]:
#Loop: prints only plants with names longer than 5 characters

for plant in plants:
    if len(plant) > 5:
        print(plant)

pothos
pony tail palm
peace lily
fiddle leaf fig
eastern red bud
vincas
jade plant
barrel cactus
zee zee

GitHub Commit

### Functions

In [21]:
# Function to count and sort long names and returns how many plants are longer than 7 letters
for plant in sorted(plants, key=len):
    if len(plant) > 7:
        print(len((plant)), (plant))

10 peace lily
10 jade plant
13 barrel cactus
14 pony tail palm
15 fiddle leaf fig
15 eastern red bud

In [22]:
# Function that returns the average number of characters per plant name
def average_length(plants):
    total_chars = 0
    for plant in plants:
        total_chars += len(plant)
    return total_chars / len(plants)
print(f'Average length {average_length(plants)} cm')

Average length 10.0 cm

Git Commit

### Dictionaries

In [25]:
#Plant dictionary of plant heights in cm

plant_dictionary = {
    'pothos' : 90,
    'pony tail palm' : 135,
    'peace lily' : 60,
    'fiddle leaf fig' : 210,
    'eastern red bud' : 750,
    'vincas' : 30,
    'jade plant' : 90,
    'barrel cactus' : 60,
    'zee zee' : 85,
    'rose' : 105
}
print(plant_dictionary)

{'pothos': 90, 'pony tail palm': 135, 'peace lily': 60, 'fiddle leaf fig': 210, 'eastern red bud': 750, 'vincas': 30, 'jade plant': 90, 'barrel cactus': 60, 'zee zee': 85, 'rose': 105}

In [26]:
#All keys

plant_dictionary.keys()

dict_keys(['pothos', 'pony tail palm', 'peace lily', 'fiddle leaf fig', 'eastern red bud', 'vincas', 'jade plant', 'barrel cactus', 'zee zee', 'rose'])

In [27]:
#All values

plant_dictionary.values()

dict_values([90, 135, 60, 210, 750, 30, 90, 60, 85, 105])

In [28]:
# Plants over 85 cm

for plant, height in plant_dictionary.items():
    if height >85:
        print(plant, height)

pothos 90
pony tail palm 135
fiddle leaf fig 210
eastern red bud 750
jade plant 90
rose 105

Git Commit

### Mini Project

In [31]:
#Combining lists, loops, and functions:
# Tasks listing 10 fictional daily temperatures
# Functions that:
#     Print highest temperature
#     Print average temperature
#     Loop printing "Hot day" if temp > 85 else "Cool day"

In [32]:
# Dictionary of 10 daily temperatures Farenheit  

daily_temps = {
    'Sunday' : 84,
    'Monday' : 92,
    'Tuesday' : 86,
    'Wednesday' : 90,
    'Thursday' : 96,
    'Friday' : 101,
    'Saturday' : 95
}
print(daily_temps)

{'Sunday': 84, 'Monday': 92, 'Tuesday': 86, 'Wednesday': 90, 'Thursday': 96, 'Friday': 101, 'Saturday': 95}

In [33]:
#Highest Temperature & Day

hotest_temp = max(daily_temps.values())
hotest_day = max(daily_temps.keys())
print(f'{hotest_day} {hotest_temp} F')

Wednesday 101 F

In [34]:
#Averaage Temperature

hotest_temp = daily_temps.values()

def average_temp(hotest_temp):
    total_temp = 0
    for temp in hotest_temp:
        total_temp += temp
    return total_temp / len(hotest_temp)
print(f'Daily average: {average_temp(hotest_temp)} F')

Daily average: 92.0 F

In [35]:
#     Loop printing "Hot day" if temp > 90 else "Cool day"

for day, temp in daily_temps.items():
    if temp > 90:
        print(f'{day} {temp} F : Hot day')
    else:
        print(f'{day} {temp} F : Cool day')

Sunday 84 F : Cool day
Monday 92 F : Hot day
Tuesday 86 F : Cool day
Wednesday 90 F : Cool day
Thursday 96 F : Hot day
Friday 101 F : Hot day
Saturday 95 F : Hot day

Git Commit