# Briana Johnson
GIS Programming  
Term: ODU Fall 2025   
Course: GEOG 600 -> GEOG 697  
Instructor: Dr. Tom Allen  
Resource: Introduction to GIS Programming: A Practical Python Guide to Open Source Geospatial Tools by Qiusheng Wu  
Purpose: This notebook serves to execute geospatial practice and challenge exercises.

## Python Programming Fundamentals

In [19]:
# Modules added as used in chapter 

import math

### Variables and Data Types

#### Variables

In [20]:
# Starting by creating a variable to represent the number of spatial points in a dataset

num_points = 120
num_points

120

#### Geospatial variable examples

In [21]:
# latitude = 42.3601
# longitude = -71.0589
# evelation = 147.2
# city_name = 'Boston'
# population = 685094
# coordinate_system = 'WGS 84'

#### Common geospatial data types (abbreviated to not assign until used in future exercices.)

In [29]:
num_features = 500 # Integers      Represents # of features in a geospatial dataset
latitude = 353.6895 # Float      Represents the latitude of a point on Earth's surface
longitude = 139.6917 # Float      Represents the longitude of a point on Earth's surface
coordinate_system = 'WGS 84' # String       Represents a commonly used coordinate system
is_georegerenced = True # Boolean      Indicates whether a dataset is georeferenced
coordinates = [
    35.6895,
    139.6917,
    ]  # List of floats         Represents a pair of latitude and longitude coordinates
feature_attributes = {
    'name' : 'Mount Fuji',
    'height_meters' : 3776,
    'type' : 'Stratovolcano',
    'location' : [35.606, 138.7274],
} # Dictionary    Represents attributes of a geospatial feature

#### Escape Characters

In [23]:
# inserting illegal characters in a string

# Inserting a new line
print("Hello World!\nWelcome to GIS Programming.")

# Inserting a tab
print("Hello World!\n\tWelcome to GIS Programming.")

Hello World!
Welcome to GIS Programming.
Hello World!
	Welcome to GIS Programming.

#### Working With Variables and Data Types

In [24]:
#  Updating a constant to the number of features

num_features += 20
print("Updated number of features:", num_features)

Updated number of features: 520

In [28]:
# import math module above
# Conveting latitude fro degrees to radians

latitude = 35.6895
latitude_radians = math.radians(latitude)
print("Latitude in radians:", latitude_radians)

Latitude in radians: 0.6228992833905163

In [26]:
# Adding a new coordinates to the list of coordinates using the append() method:

coordinates.append(34.0522) # Adding latitude for Los Angeles
coordinates.append(-118.2437) # Adding longitude for Los Angeles
print("Udated coordinates from list:", coordinates)

Udated coordinates from list: [35.6895, 139.6917, 34.0522, -118.2437]

In [30]:
# Accessing dictionary elements using the [] operator:

mount_fuji_name = feature_attributes['name']
mount_fuji_height = feature_attributes['height_meters']
print(f'{mount_fuji_name} is {mount_fuji_height} meters tall.')

Mount Fuji is 3776 meters tall.

#### Basic String Operations

In [36]:
# Changing Case of Strings

city_name = 'SaN FrAncIsco'
city_lowercase = city_name.lower()
print('Lowercase:', city_lowercase)

city_uppercase = city_name.upper()
print('Uppercase:', city_uppercase)

city_title = city_name.title()
print('Title case', city_title)

Lowercase: san francisco
Uppercase: SAN FRANCISCO
Title case San Francisco

In [37]:
# Replacing Text

original_city = 'San Franciso'
new_city = original_city.replace('San', 'Los')
print('Original:', original_city)
print('Modified:', new_city)

Original: San Franciso
Modified: Los Franciso

In [38]:
# Other useful string methods
location_data = "  Mount Everest  "

# Remove whiespace

clean_location = location_data.strip()
print('Cleaned', clean_location)

Cleaned Mount Everest

#### Exercise 1: Variable Assignment and Basic Operations

##### Create variables to store the following geospatial data:

The latitude and longitude of New York City: 40.7128, -74.0060.  
The population of New York City: 8,336,817.  
The area of New York City in square kilometers: 783.8.  

Perform the following tasks:  
1. Calculate and print the population density of New York City (population per square kilometers).   
2. Print the coordinates in the format "Latitude: [latitude], Longitude: [longitude]".

In [ ]:
city = 'New York City'
latitude = 40.8128
longitude = -74.0060
population = 8336817
area_sqmi = 783.8

In [5]:
population_density = (population/area_sqmi)

print('Population per Square Mile:', population_density)

Population per Square Mile: 10636.408522582293

In [6]:
print('Latitude:', latitude)
print('Longitude:', longitude)

Latitude: 40.8128
Longitude: -74.006

##### Exercise 2: Working with Strings  

Create a string variable to store thename of a city such as 'New York City'. Perform the following operations:  
1. Convert the string to lowercase and print result.  
2. Convert the string to uppercase and print result.
3. Replace 'New York' with 'Los Angeles' in the city name and print the new string.

In [9]:
city_lowercase = city.lower()
city_uppercase = city.upper()

print('Original:', city_lowercase)
print('Modified:', city_uppercase)

Original: new york city
Modified: NEW YORK CITY

In [16]:
new_city = city.replace('New York City', 'Los Angeles')
print(f'Changed from {city} to {new_city}.')

Changed from New York City to Los Angeles.

### Python Data Structures

#### Tuples

In [18]:
# Tuples are created with () with elements separated by a comma.

tokyo_point = (
    35.6895,
    139.6917,
)   #Tuple  representing Tokyo's cooridates: (latitude, longitude)

print(tokyo_point)

(35.6895, 139.6917)

In [19]:
# Acessing individual elements in a tuple using indexing, where the first element is at index 0: 

latitude = tokyo_point[0]
longitude = tokyo_point[1]

print(f'Latitude: {latitude}')
print(f'Longitude: {longitude}')

Latitude: 35.6895
Longitude: 139.6917

In [21]:
# Unpacking tuples into 2 variables

lat, lon = tokyo_point
print(f'Tokyo is located at {lat} N, {lon} S.')

Tokyo is located at 35.6895 N, 139.6917 S.

In [22]:
# Multiple Cooridates Points as tuples

new_york = (40.7128, -74.0060)
london = (51.5074, -0.1278)
sydney = (-33.8688, 151.2093)

print(f'New York: {new_york}')
print(f'London: {london}')
print(f'Sydney: {sydney}')

New York: (40.7128, -74.006)
London: (51.5074, -0.1278)
Sydney: (-33.8688, 151.2093)