In [1]:
print("Hello GitHub! This is my first commit.")
#git add .
#git commit -m "Commit Title"
#git push origin main

Hello GitHub! This is my first commit.

# Core Python & GitHub Practice

## Week 1: Python Refresher

### Variables and Printing

In [4]:
#Creating a string

String = "Creating a string."
print(String)

Creating a string.

In [5]:
#Creating an integer

Integer = 10
print(Integer)

10

In [6]:
#Creating a float

Float = 3.14
print(Float)

3.14

In [7]:
#Converting float to integer
Convert_Float = int(10/3)
print(Convert_Float)

3

In [8]:
#Converting integer to float
Convert_Integer = float(10/2)
print(Convert_Integer)

5.0

In [9]:
#Round floats

Round = round(3.3333333333333)
print(Round)

3

In [10]:
#Explaing with f-string
print(f'I was able to convert to an float: {Convert_Integer}, and convert to a integer: {Convert_Float}.')

I was able to convert to an float: 5.0, and convert to a integer: 3.

In [11]:
#Displaying string as all caps and lowercase

name = "Briana Johnson"
capitalized_name = name.upper()
lowercased_name = name.lower()
print(capitalized_name)
print(lowercased_name)

BRIANA JOHNSON
briana johnson

GitHub Commit

### List & Loops

In [14]:
#Creating a List, determining length
plants = ['pothos', 'pony tail palm', 'peace lily', 'fiddle leaf fig', 'eastern red bud', 'vincas', 'jade plant', 'barrel cactus', 'zee zee', 'rose']
print(plants[:3])
len(plants)

['pothos', 'pony tail palm', 'peace lily']

10

In [15]:
#If/Else

if len(plants) > 11:
    print('true')
else:
    print('false')
if len(plants) < 11:
    print('true')
else:
    print('false')

false
true

In [16]:
#Loop: prints each item on a new line
for plant in plants:
    print(plant)

pothos
pony tail palm
peace lily
fiddle leaf fig
eastern red bud
vincas
jade plant
barrel cactus
zee zee
rose

In [17]:
#Loop: prints only plants with names longer than 5 characters

for plant in plants:
    if len(plant) > 5:
        print(plant)

pothos
pony tail palm
peace lily
fiddle leaf fig
eastern red bud
vincas
jade plant
barrel cactus
zee zee

GitHub Commit

### Functions

In [20]:
# Function to count and sort long names and returns how many plants are longer than 7 letters
for plant in sorted(plants, key=len):
    if len(plant) > 7:
        print(len((plant)), (plant))

10 peace lily
10 jade plant
13 barrel cactus
14 pony tail palm
15 fiddle leaf fig
15 eastern red bud

In [22]:
# Function that returns the average number of characters per plant name
def average_length(plants):
    total_chars = 0
    for plant in plants:
        total_chars += len(plant)
    return total_chars / len(plants)
print(f'Average length {average_length(plants)} cm')

Average length 10.0 cm

Git Commit

### Dictionaries

In [24]:
#Plant dictionary of plant heights in cm

plant_dictionary = {
    'pothos' : 90,
    'pony tail palm' : 135,
    'peace lily' : 60,
    'fiddle leaf fig' : 210,
    'eastern red bud' : 750,
    'vincas' : 30,
    'jade plant' : 90,
    'barrel cactus' : 60,
    'zee zee' : 85,
    'rose' : 105
}
print(plant_dictionary)

{'pothos': 90, 'pony tail palm': 135, 'peace lily': 60, 'fiddle leaf fig': 210, 'eastern red bud': 750, 'vincas': 30, 'jade plant': 90, 'barrel cactus': 60, 'zee zee': 85, 'rose': 105}

In [26]:
#All keys

plant_dictionary.keys()

dict_keys(['pothos', 'pony tail palm', 'peace lily', 'fiddle leaf fig', 'eastern red bud', 'vincas', 'jade plant', 'barrel cactus', 'zee zee', 'rose'])

In [28]:
#All values

plant_dictionary.values()

dict_values([90, 135, 60, 210, 750, 30, 90, 60, 85, 105])

In [30]:
# Plants over 85 cm

for plant, height in plant_dictionary.items():
    if height >85:
        print(plant, height)

pothos 90
pony tail palm 135
fiddle leaf fig 210
eastern red bud 750
jade plant 90
rose 105

Git Commit

### Mini Project

In [34]:
#Combining lists, loops, and functions:
# Tasks listing 10 fictional daily temperatures
# Functions that:
#     Print highest temperature
#     Print average temperature
#     Loop printing "Hot day" if temp > 85 else "Cool day"

In [40]:
# Dictionary of 10 daily temperatures Farenheit  

daily_temps = {
    'Sunday' : 84,
    'Monday' : 92,
    'Tuesday' : 86,
    'Wednesday' : 90,
    'Thursday' : 96,
    'Friday' : 101,
    'Saturday' : 95
}
print(daily_temps)

{'Sunday': 84, 'Monday': 92, 'Tuesday': 86, 'Wednesday': 90, 'Thursday': 96, 'Friday': 101, 'Saturday': 95}

In [42]:
#Highest Temperature & Day

hotest_temp = max(daily_temps.values())
hotest_day = max(daily_temps.keys())
print(f'{hotest_day} {hotest_temp} F')

Wednesday 101 F

In [44]:
#Averaage Temperature

hotest_temp = daily_temps.values()

def average_temp(hotest_temp):
    total_temp = 0
    for temp in hotest_temp:
        total_temp += temp
    return total_temp / len(hotest_temp)
print(f'Daily average: {average_temp(hotest_temp)} F')

Daily average: 92.0 F

In [46]:
#     Loop printing "Hot day" if temp > 90 else "Cool day"

for day, temp in daily_temps.items():
    if temp > 90:
        print(f'{day} {temp} F : Hot day')
    else:
        print(f'{day} {temp} F : Cool day')

Sunday 84 F : Cool day
Monday 92 F : Hot day
Tuesday 86 F : Cool day
Wednesday 90 F : Cool day
Thursday 96 F : Hot day
Friday 101 F : Hot day
Saturday 95 F : Hot day

Git Commit

## Week 2: Pandas Essentials

### Read/Inspect/Save

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("plants.csv")
df.head()

,plant,height_cm,city,watered,date,light_need,room
0,pothos,95.0,Austin,True,2025-07-01,Low,Living
1,peace lily,58.0,Austin,False,2025-07-03,Low,Bedroom
2,jade plant,82.0,Dallas,True,2025-07-05,Medium,Office
3,barrel cactus,62.0,Dallas,False,2025-07-06,High,Kitchen
4,ZZ plant,89.0,San Antonio,True,2025-07-08,Low,Hall

In [11]:
df.tail()

           plant  height_cm     city  watered        date light_need     room
20     haworthia       25.0   Dallas    False  2025-07-28       High   Office
21        pothos        NaN   Austin     True  2025-07-29        Low     Hall
22      ZZ plant       88.0   Austin    False  2025-07-30        NaN  Bedroom
23  rubber plant      118.0   Dallas     True  2025-07-31     Medium   Office
24    peace lily       59.0  Houston    False  2025-08-01        Low   Living

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   plant       25 non-null     object
 1   height_cm   24 non-null     float64
 2   city        25 non-null     object
 3   watered     25 non-null     bool
 4   date        25 non-null     object
 5   light_need  24 non-null     object
 6   room        25 non-null     object
dtypes: bool(1), float64(1), object(5)
memory usage: 1.3+ KB

In [21]:
df.describe()

        height_cm
count   24.000000
mean    90.750000
std     41.795829
min     25.000000
25%     59.750000
50%     85.000000
75%    118.500000
max    205.000000

In [66]:
# Method chaining: sorting by height & subsetting values
df2 = df.sort_values('height_cm', ascending = False).iloc[10:20]

In [68]:
# Save filtered subset to csv
df2.to_csv('plants_subset.csv')

In [72]:
df2.head()

,plant,height_cm,city,watered,date,light_need,room
4,ZZ plant,89.0,San Antonio,True,2025-07-08,Low,Hall
22,ZZ plant,88.0,Austin,False,2025-07-30,NaN,Bedroom
2,jade plant,82.0,Dallas,True,2025-07-05,Medium,Office
5,snake plant,77.0,San Antonio,False,2025-07-10,Low,Bedroom
18,aglaonema,70.0,Houston,True,2025-07-26,Low,Office

Git Commit

### Selecting & Filtering